Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

.vscode/
.vs/
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.VC.db-shm
*.VC.db-wal

*.obj
*.pch
*.pdb
*.idb
*.ilk
*.tlog
*.log
*.lastbuildstate
*.iobj
*.ipdb

*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

Thumbs.db
ehthumbs.db
Desktop.ini

embree4.dll
tbb12.dll
leechcore.dll
vmm.dll
FTD3XX.dll

*_*.obj
*_*.json

*.log
*.txt


.DS_Store